

#tablePlayers 
{
    white-space:nowrap;
    
}

#tablePlayers td:nth-child(n+5)
{
    text-align:center;
}

.playerCompareBlock 
{
    float:left;
    display:inline-block;
    height:222px;
    width:150px;
    border: 1px grey dashed;
    position:relative;
}

.comparePlayerImage
{
    width:100%;
}

.compareRemoveButton 
{
    margin-left:30%;
}

a.detailsLink 
{
    color:#fff;
}

.playerPreview 
{
    
    height:300px;
    width:300px;
    border: 1px grey dashed;

}

#previewName, .comparePlayerName
{
    width:100%;
    font-size:16px;
    font-weight:bold;
    text-align:center;
    height:45px;
}

#previewImage
{
    margin-left:49px;
}

.divDropHere 
{
    height:150px;
    width:150px;
    font-size:20px;
    font-weight:bold;
    text-align:center;
    border: 5px solid grey;
    
}

#divPlayerDragImage
{
    display:none;
    
    height:30px;
    width:30px;
}

#imgPlayerDrag
{
    position:absolute;
    height:30px;
    width:30px;
}

.warningText
{
    color: red;
}

div.playerDetailsBlock
{
    display:none;
    border: 3px solid grey;
    width:180px;
    height:333px;

}

div.playerBackground table
{
    width:100%;
}

div.playerBackground td
{
    max-width:0;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
    font-size:12px;
}
td.tdCollege
{
    width:50%;
}

div.comparePlayerImage img
{
    width:100%;
}

div.divStatTableWeeklyData
{
    height:400px;
    width:100%;
    overflow-y:scroll;
    overflow-x:hidden;
    position:relative;
}

td.expandDown
{
    background-image:url("../../Images/expand.png");
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position:right bottom;
}

td.collapseUp
{
    background-image:url("../../Images/collapse.png");
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position:right bottom;
}

tr.statRow td.stat
{
    text-align:center;
}

img.imgGraphIcon, img.imgTableIcon
{   
    height:50px;
    width:50px;
    border:solid 3px black;
    z-index:200;
}

img.imgGraphIcon:hover, img.imgTableIcon:hover
{
    border:solid 3px white;
}

img.imgGraphIcon.active, img.imgTableIcon.active
{
    border:solid 3px #A3A3A3;
}

#divGraphOverlay
{
    display:none;
    position:absolute;
    z-index:500;
    border-radius:20px;
    width:85%;
    height:65%;
    top:0px;
    left:0px;
    background-color:#707070 ;
	filter:alpha(opacity=50);
    -moz-opacity:0.5;
    opacity:0.5;
}

#statGraph
{
    display:none;
    position:absolute;
    height:60%;
    width:80%;
    top:0px;
    left:0px;
    margin-top:3%;
    margin-left:3%;
    border:2px solid #3366CC;

    background-color:#000000;
    z-index:999;
	

}

#pager
{
    cursor:pointer;
}

.sortedAsc 
{
    display:inline-block;
    height:20px;
    width:20px;
    margin-bottom:-5px;
    background-image:url("../../Images/sortedAscArrow.png");
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position:bottom center;
}


.sortedDesc 
{
    display:inline-block;
    height:20px;
    width:20px;
    margin-bottom:-5px;
    background-image:url("../../Images/sortedDescArrow.png");
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position:bottom center;

}



















