<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <SiteUrlToLaunchAfterPublish>http://fantasyfootballcorner.com/</SiteUrlToLaunchAfterPublish>
    <MSDeployServiceURL>web13.anaxanet.com:8172/MsDeploy.axd</MSDeployServiceURL>
    <DeployIisAppPath>fantasyfootballcorner.com</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <UserName>deploy_ffc2</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="FantasyFootballCorner.Models.UsersContext, FantasyFootballCorner" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="FantasyFootballCorner.Context.FFCContext" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="FantasyFootballCorner.Context.FFCContext, FantasyFootballCorner" MigrationConfiguration="FantasyFootballCorner.Migrations.Configuration, FantasyFootballCorner" Origin="Convention" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)FantasyFootballCorner.Context.FFCContext-Web.config Connection String" />
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="FantasyFootballCorner.Context.FFCContext" />
  </ItemGroup>
</Project>