body {
}



tr.stickyRow
{
}

div.stickyDivWrapper
{
    position:relative;
}

div.stickyHorizScroll
{
    height:100%;
    overflow-x:scroll;
}

div.stickyVertScroll
{
    height:100%;
    overflow-y:scroll;
}

table.stickyTable
{
    top:0;
    left:0;
}

table.stickyLeftTable
{
    position:absolute;
    top:0;
    left:0;
    border-right:1px solid navy;
}

div.

/*
stickyCols: 0,                  
stickyRows: 0,                  
stickyColLock: 'left',          
stickyRowLock: 'top',           
stickyHeader: false,            
horizScroll: false,             
vertScroll: false,              

colorStickyCols: false,         
stickyColColor: '#000000',      
colorStickyRows: false,         
stickyRowColor: '#000000',

borderStickyCols: false,
stickyColBorderColor: '#000000',
stickyColBorderThickness: 0,
borderStickyRows: false,
stickyRowBorderColor: '#000000',
stickyRowBorderThickness: 0

*/



























