

#tablePlayers 
{
    white-space:nowrap;
    
}

#tablePlayers td:nth-child(n+5)
{
    text-align:center;
}

.playerCompareBlock 
{
    float:left;
    display:inline-block;
    height:222px;
    width:150px;
    border: 1px grey dashed;
    position:relative;
}

.comparePlayerImage
{
    width:100%;
}

.compareRemoveButton 
{
    margin-left:30%;
}

a.detailsLink 
{
    color:#fff;
}

.playerPreview 
{
    
    height:300px;
    width:300px;
    border: 1px grey dashed;

}

#previewName, .comparePlayerName
{
    width:100%;
    font-size:16px;
    font-weight:bold;
    text-align:center;
    height:45px;
}

#previewImage
{
    margin-left:49px;
}

.divDropHere 
{
    height:150px;
    width:150px;
    font-size:20px;
    font-weight:bold;
    text-align:center;
    border: 5px solid grey;
    
}

#divPlayerDragImage
{
    display:none;
    
    height:30px;
    width:30px;
}

#imgPlayerDrag
{
    position:absolute;
    height:30px;
    width:30px;
}

.warningText
{
    color: red;
}

div.playerDetailsBlock
{
    display:none;
    border: 3px solid grey;
    width:180px;
    height:333px;

}

div.playerBackground table
{
    width:100%;
}

div.playerBackground td
{
    max-width:0;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
    font-size:12px;
}
td.tdCollege
{
    width:50%;
}

div.comparePlayerImage img
{
    width:100%;
}

div.divStatTableWeeklyData
{
    height:400px;
    width:100%;
    overflow-y:scroll;
    overflow-x:hidden;
    position:relative;
}

td.expandDown
{
    background-image:url("../../Images/expand.png");
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position:right bottom;
}

td.collapseUp
{
    background-image:url("../../Images/collapse.png");
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position:right bottom;
}

tr.statRow td.stat
{
    text-align:center;
}

img.imgGraphIcon
{
    position:absolute;
    left:-100px;
    top:75px;
    height:40px;
    width:40px;
    z-index:999;
}

























